services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./.env   # <-- racine

  frontend:
    build: ./frontend
    ports:
      - "3001:3001"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3000
    depends_on:
      - backend